@import "_fonts";
@import "_null";
@import "_mixins";

$small-width: 480px;
$medium-width: 768px;
$large-width: 1000px;
$large-section-top-marge: 200px;
$medium-section-top-marge: 100px;

.wrapper {
    // overflow: hidden;
    /***************header*****************/
    .header {
        display: flex;
        overflow: hidden;

        .header__item {
            flex: 1 1 auto;
            // border: 1px solid red;
        }

        .header__logoblock {
            max-width: 741px;
            position: relative;
            .header__logo {
                position: absolute;
                top: 0px;
                left: 26%;
                max-width: 298px;
                max-height: 130px;
                background-color: #80b7b3;
                z-index: 2;
                box-shadow: 0 10px 40px rgba(0, 0, 0, 0.6);

                h1 {
                    font-family: "Playfair Display";
                    font-size: 68.4px;
                    font-weight: 400;
                    color: #ffffff;
                    margin: 25px 40px 25px 40px;
                    @media (max-width: $large-width) {
                        font-size: 50px;
                        margin: 20px 40px 20px 40px;
                    }
                    @media (max-width: $medium-width) {
                        font-size: 40px;
                        margin: 12px 30px 12px 30px;
                    }
                    @media (max-width: $small-width) {
                        font-size: 30px;
                        margin: 5px 25px 5px 25px;
                    }
                }
            }
            .header__subtitle {
                opacity: 0.1;
                font-family: Poppins;
                font-size: 189px;
                // line-height: 40px;
                font-weight: 500;
                text-transform: uppercase;
                letter-spacing: 0.2em;
                color: #273d46;
                margin: 80px 0 0 0;
                @media (max-width: $large-width) {
                    font-size: 109px;
                    margin: 60px 0 0 0;
                }
                @media (max-width: $medium-width) {
                    font-size: 79px;
                    margin: 40px 0 0 0;
                }
                @media (max-width: $small-width) {
                    font-size: 59px;
                    margin: 20px 0 0 0;
                }
            }
        }

        .header__nav {
            //padding: 110px 0 0 0;
            // min-width: 200px;
            flex: 0 1 16%;
            transform: translateY(35%);
            // @media (max-width: $large-width) {
            //     padding: 90px 0 0 0;
            // }
            // @media (max-width: $medium-width) {
            //     padding: 85px 0 0 0;
            // }

            .header__link {
                display: inline-flex;
                flex-wrap: wrap;
                flex-direction: column;
                align-items: center;
                transition: all 0.1s;
                margin-left: 6px;
                &:hover {
                    transform: scale(1.2);
                }
                .header__linkspan {
                    flex: 1 1 auto;
                    width: 31px;
                    height: 6px;
                    opacity: 0.5;
                    background-color: #273d46;
                    border-radius: 2.5px;
                    margin: 1.5px;
                }
            }
        }
    }

    /********************************/

    /*************common***********************/
    .background-image {
        & > img {
            position: absolute;
            z-index: -1;
        }

        @media (max-width: $medium-width) {
            display: none;
        }
    }

    .background-shape {
        position: relative;
        .shape_line {
            opacity: 0.1;
            background-color: #000000;
            position: absolute;
            z-index: -2;
            width: 4px;
            transform: rotate(45deg);
        }

        @media (max-width: $medium-width) {
            display: none;
        }
    }

    .content {
        max-width: 1310px;
        padding: 0 15px;
        margin: auto 0 auto auto;
    }

    .label {
        opacity: 0.6;
        font-family: Poppins;
        font-size: 14px;
        line-height: 40px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        color: #273d46;
    }
    .title {
        font-family: "Playfair Display";
        font-size: 36px;
        line-height: 50px;
        font-weight: 400;
        color: #273d46;

        @media (max-width: 1200px) {
            font-size: 26px;
            line-height: 40px;
        }
    }

    .text {
        opacity: 0.8;
        font-family: "Playfair Display";
        font-size: 24px;
        line-height: 40px;
        font-weight: 400;
        color: #273d46;

        @media (max-width: 1200px) {
            font-size: 18px;
            line-height: 30px;
        }

        p:not(:last-child) {
            margin-bottom: 40px;
            @media (max-width: 1200px) {
                margin-bottom: 20px;
            }
        }
    }

    .link {
        display: block;
        box-shadow: 3px 5px 40px 0px rgba(127, 183, 179, 0.54);
        width: 200px;
        height: 40px;
        background-color: #80b7b3;
        border-radius: 21.5px;
        text-align: center;
        transition: all 0.1s;

        &:hover {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }

        span {
            position: relative;
            font-family: Poppins;
            font-size: 14px;
            line-height: 40px;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            color: #ffffff;

            &:after {
                content: "→";
                opacity: 0.8;
                width: 21px;
                height: 14px;
                margin: 0 0 0 20px;
                font-size: 20px;
                font-weight: 900;
            }
        }
    }
    /********************************/

    /*************story-one*******************/

    .story-one {
        position: relative;
        .story-one__background-image {
            position: relative;
            img {
                &:nth-child(1) {
                    left: 385px;
                    top: 435px;
                }

                &:nth-child(2) {
                    left: 320px;
                    top: 625px;
                }
            }
        }

        .story-one__shape {
            .story-one__shape_line:nth-child(1) {
                left: -150px;
                height: 2000px;
            }
            .story-one__shape_line:nth-child(2) {
                left: -23px;
                height: 2000px;
            }

            // width: 974px;
            // height: 977px;
        }

        .story-one__label {
        }

        .story-one__row {
            display: flex;
            flex-direction: row;
            .story-one__body {
                flex: 0 1 36%;
                margin: 0 20px 0 0;
                //  border: 1px solid red;
                @media (max-width: $medium-width) {
                    flex: 1 1 auto;
                }
                .story-one__title {
                    margin: 25px 0 0 0;
                    @media (max-width: $medium-width) {
                        margin: 15px 0 0 0;
                    }
                }

                .story-one__text {
                    margin: 75px 0 0 0;
                    @media (max-width: 1200px) {
                        margin: 45px 0 0 0;
                    }
                    @media (max-width: $medium-width) {
                        margin: 25px 0 0 0;
                    }
                }

                .story-one__link {
                    margin-top: 30px;
                    @media (max-width: $medium-width) {
                        margin: 10px 10px 10px 0;
                    }
                }
            }

            .story-one__images {
                flex: 0 1 64%;
                max-width: 830px;
                // border: 1px solid red;
                position: relative;
                @media (max-width: $medium-width) {
                    display: none;
                }
                .story-one__rear-img {
                    //   float: right;
                    max-width: 794px;
                    max-height: 667px;
                    // border: 1px solid green;
                    > img {
                        @include inner-img();
                        object-position: 30px;
                    }
                }
                .story-one__front-img {
                    position: absolute;
                    top: 21%;
                    transform: translateY(-21%);
                    left: 0;
                    z-index: 3;
                    box-shadow: 7px 13px 65px 0px rgba(15, 15, 16, 0.15);
                    width: 45%;
                    height: 36%;
                    border: 15px solid #ffffff;
                    background-color: #d6b29c;
                }
            }
        }
    }
}

/*************story two*****************/

.story-two {
    position: relative;
    margin-top: $large-section-top-marge;

    @media (max-width: 1330px) {
        margin-top: $medium-section-top-marge;
    }
    .story-two__content {
        max-width: 935px;
        margin: 0 auto;
    }
    .story-two__label {
        text-align: center;
    }

    .story-two__title {
        text-align: center;
        padding: 0 100px 0 100px;
        margin: 5px 0 20px 0;

        @media (max-width: $medium-width) {
            padding: 0 60px;
        }
    }

    .story-two__img {
        img {
            @include inner-img;
        }
    }
    .story-two__text {
        margin: 20px 0 20px 0;
        padding: 0 90px;

        @media (max-width: $medium-width) {
            padding: 0 60px;
        }
    }

    .story-two__link {
        margin: 0 auto 30px 90px;
        @media (max-width: $medium-width) {
            margin: 0 auto;
        }
    }

    .story-two__background-image {
        position: relative;
        z-index: 100;
        img {
            &:nth-child(1) {
                top: 200px;
                right: 127px;
            }

            &:nth-child(2) {
                top: 430px;
                right: 230px;
            }
        }
    }

    .story-two__shape {
        .story-two__shape_line:nth-child(1) {
            height: 1270px;
            right: 450px;
            top: -108px;
        }
        .story-two__shape_line:nth-child(2) {
            height: 1060px;
            right: 374px;
            top: 46px;
        }
    }
}

/**************************************/

/***************video*********************/

.video-block {
    min-width: 100%;

    margin-top: $large-section-top-marge;
    @media (max-width: $medium-width) {
        margin-top: $medium-section-top-marge;
    }
    img {
        @include inner-img;
    }
}
/***********************************/

/*****************quote*******************/

.quote {
    overflow: hidden;
    margin-top: $large-section-top-marge;
    @media (max-width: $medium-width) {
        margin-top: $medium-section-top-marge;
    }
    position: relative;
    //border: 1px solid red;
    .quote__shape {
        .quote__shape_line:nth-child(1) {
            min-height: 1000px;
            left: 559px;
            top: -10px;
        }
        .quote__shape_line:nth-child(2) {
            min-height: 1400px;
            left: 602px;
            top: -135px;
        }
    }

    .quote__background-image {
        img:nth-child(1) {
            top: 609px;
            left: 410px;
        }
    }

    .quote__content {
        max-width: 845px;
        position: relative;
        margin: 0 auto 0 30%;
        @media (max-width: $medium-width) {
            margin: 0 auto;
        }
    }
    .quote__left-img {
        position: absolute;
        transform: translateX(-37%);
        top: 0px;
        max-width: 523px;
        z-index: 2;
        img {
            @include inner-img();
        }
        @media (max-width: $medium-width) {
            display: none;
        }
    }
    .quote__body {
        padding: 60px 20px 0 320px;
        @media (max-width: $medium-width) {
            padding: 20px;
        }
    }
    .quote__label {
    }

    .quote__title {
    }

    .quote__card {
        position: relative;
        box-shadow: 7px 13px 65px 0px rgba(15, 15, 16, 0.15);
        background-color: #ffffff;
        z-index: 3;
        min-height: 310px;
        max-width: 750px;
        padding: 66px;
        margin: 70px 70px;
        @media (max-width: $medium-width) {
            padding: 30px;
            margin: 10px 30px 30px 30px;
        }
    }
    .quote__cardtext {
        font-family: "Playfair Display";
        font-size: 26px;
        line-height: 46px;
        font-weight: 400;
        font-style: italic;
        color: #273d46;
    }
    .quote__signature {
        margin: 30px 0 0 0;
        opacity: 0.8;
        font-family: Poppins;
        font-size: 14px;
        line-height: 40px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        color: #273d46;
        span {
            color: #7a7b7c;
        }
    }
    .quote__link {
        position: absolute;
        z-index: 4;
        bottom: -20px;
        left: 30%;
    }
}

/************************************/

/***************subscribe********************/

.subscribe {
    //  border: 1px solid red;
    margin-top: $large-section-top-marge;
    @media (max-width: $medium-width) {
        margin-top: $medium-section-top-marge;
    }
    position: relative;

    .subscribe__background {
        width: 100%;
        img {
            @include inner-img();
        }

        @media (max-width: $medium-width) {
            display: none;
        }
    }
    .subscribe__body {
        position: absolute;

        max-width: 670px;
        padding-bottom: 30px;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        z-index: 3;
        opacity: 0.9;
        background-color: #273d46;
        @media (max-width: $medium-width) {
            position: relative;
            max-width: 100%;
            top: 0;
            left: 0;
            transform: none;
        }

        .subscribe__message {
            padding: 55px 115px;
            opacity: 0.8;
            font-family: Poppins;
            font-size: 16px;
            line-height: 30px;
            font-weight: 500;
            letter-spacing: 0.04em;
            color: #ffffff;
            text-align: center;

            @media (max-width: $large-width) {
                padding: 28px 53px;
            }
        }
        .subscribe__form {
            .subscribe__input-row {
                display: flex;
                flex-direction: row;
                @media (max-width: $medium-width) {
                    flex-direction: column;
                }

                padding: 0 10%;
                .subscribe-text-input {
                    flex: 1 1 auto;

                    height: 45px;
                    // opacity: 0.2;
                    background-color: #000000;
                    border: 1px solid #fff7f4;
                    border-radius: 22px;

                    opacity: 0.6;
                    font-family: Poppins;
                    font-size: 14px;
                    line-height: 40px;
                    font-weight: 500;
                    text-transform: uppercase;
                    letter-spacing: 0.2em;
                    color: #ffffff;
                    padding-left: 30px;

                    &:focus {
                        box-shadow: 0 0 6px white;
                    }

                    &::placeholder {
                        opacity: 0.3;
                    }
                }
                .subscribe__name {
                    margin: 0 3% 0 0;
                    @media (max-width: $medium-width) {
                        margin: 0 auto;
                        min-width: 90%;
                    }
                }
                .subscribe__email {
                    margin: 0 0 3% 0;
                    @media (max-width: $medium-width) {
                        margin: 5% auto 5% auto;
                        min-width: 90%;
                    }
                }
            }

            .subscribe__submit {
                margin: 20px auto 20px auto;
            }
        }
    }
}

/*************************************/
